<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hukabao.hukabao">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application android:networkSecurityConfig="@xml/network_security_config">
        <!-- ... -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <activity android:name="com.apptreesoftware.barcodescan.BarcodeScannerActivity"/>


    <application>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:launchMode="singleTop"
            android:theme="@style/DisablePreviewTheme" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:launchMode="singleTop"
            android:theme="@style/DisablePreviewTheme" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:targetActivity="com.jarvan.fluwx.wxapi.WXEntryActivity"
            android:theme="@style/DisablePreviewTheme">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sdksample" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:targetActivity="com.jarvan.fluwx.wxapi.WXPayEntryActivity"
            android:theme="@style/DisablePreviewTheme">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sdksample" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
